.container{
    border: 4px solid rgb(210, 170, 170);
    padding: 1em;
    border-radius: 3pt;
    display: flex;
    flex-direction: column;
}

.categories_container{
    margin-top: 1em;
    margin-left: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 450px));
    grid-gap: 1em;
}