/* group */

.thanks_message, .helper_message{
    text-align: center;
}


/* typography */

.thanks_message{
    margin-bottom: 0;
}

.success{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.icon_check{
    font-size: 18rem;
    color: var(--secondary-color);
}

.button{
    margin-top: 4em;
    padding: 1em 3em;
    border: 2px solid var(--primary-color);
    border-radius: 5pt;
    background-color: inherit;
    transition: border-color 250ms ease, 
    background-color 250ms ease, 
    color 250ms ease, 
    letter-spacing 250ms ease;
}

.button:hover{
    letter-spacing: 1px;
    background-color: var(--primary-color);
}


/* layout */

.main{
    display: grid;
    place-items: center;
    padding: 0.5em;
}



@media (min-width: 768px) {
    .icon_check{
        font-size: 30rem;
    }
}
