.modal{
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: red;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}