/* group */

.inputs_container, .social {
    display: flex;
    overflow: hidden;
}

.form_image, .input_style {
    width: 100%;
}

.text, .signIn{
    text-align: center;
}

/* typography */


.error_message{
    display: inline-block;
    margin-left: 0.2em;
    margin-top: 0em;
    padding: 0.2rem;
    font-size: 1rem;
    background-color: var(--error-color);
}

/* layout */


.form_container {
    display:  grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "image image"
        "form form";
    flex-direction: column;
    min-height: 85dvh;
    min-height: 85vh;
    margin-top: 0.14em;
    overflow: hidden;
}

.inputs_container{
    flex-direction: column;
    grid-area: form;
    min-height: 50dvh;
    padding: 0.5em;
    background-color: var(--secondary-color-light); 
}

.social{
    justify-content: space-between;
}

.form_image{
    display: block;
    grid-area: image;
    height: 50vh;
    object-fit: cover;
}

.logo{
    align-self: center;
}

.email, .password{
    position: relative;
    margin-bottom: 2em;
}

.input_style{
   padding: 1.2em;
}

.input_error {
    border: 3.5px solid var(--error-color);
}


.submit{
    margin-top: 2em;
    padding: 0.7em 2em;
    background-color: var(--secondary-color);
}

.google{
    margin-right: auto;
}

.apple{
    margin-left: auto;
}

.eye_open{
    position: absolute;
    font-size: 1.1rem;
    top: 45px;
    right: 7px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}


.signIn_link{
    font-weight: bold;
}

@media (min-width: 768px) {

    .form_container{
        grid-template-areas: 
            "image form";
        min-height: 87.7dvh;
        min-height: 87.7vh;
        background-color: var(--accent-color );
        overflow: hidden;
    }

    .form_container, .inputs_container{
        justify-content: center;
    }

    .inputs_container, .form_image{
        min-height: 80dvh;
        min-height: 80vh;
    }

    .form_container{
        flex-direction: row;
        align-items: center;
        padding: 2em;
    }   

    .inputs_container{     
        height: unset;
        padding: 1em;
        border-radius: 0 10pt 10pt 0;
        border: 5px solid black;
        border-left: none;
    }

    .form_image{
        height: unset;
        max-height: 90vh;
        border-radius: 10pt 0 0 10pt;
        border: 5px solid black;;
        border-radius: none;
    }

    .email {
        margin-top: 3em;
        margin-bottom: 3em;
    }
}

@media (min-width: 1300px) {

      .form_container{
        font-size: 1.1rem;
    }

    .inputs_container{
        max-height: 70vh;
        padding-inline: 7em;
    }

}
