.inputs_container, .social {
    display: flex;
    overflow: hidden;
}

.form_image, .input_style {
    width: 100%;
}

.form_container {
    margin-top: 0.14em;
    flex-direction: column;
    min-height: 85dvh;
    min-height: 85vh;
    /* background-color: var(--background-color); */
    overflow: hidden;
    display:  grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "image image"
        "form form";
}

.inputs_container{
    flex-direction: column;
    padding: 0.5em;
    background-color: var(--secondary-color-light); 
    min-height: 50dvh;
    grid-area: form;
}

.social{
    justify-content: space-between;
}

.form_image{
    display: block;
    height: 50vh;
    object-fit: cover;
    grid-area: image;
}

.logo{
    align-self: center;
}

.email, .password{
    position: relative;
    margin-bottom: 2em;
}

.input_style{
   padding: 1.2em;
}

.input_error {
    border: 3.5px solid #FFB3B3;
}

.error_message{
    background-color: #FFB3B3;
    margin-top: 0em;
    margin-left: 0.2em;
    padding: 0.2rem;
    display: inline-block;
    font-size: 1rem;
}

.submit{
    margin-top: 2em;
    padding: 0.7em 2em;
    background-color: var(--secondary-color);
}

.google{
    margin-right: auto;
}

.apple{
    margin-left: auto;
}

.eye_open{
    position: absolute;
    cursor: pointer;
    top: 41px;
    right: 7px;
    border: none;
    background-color: inherit;
    font-size: 1.1rem;
}

.text, .signIn{
    text-align: center;
}

.signIn_link{
    font-weight: bold;
}

@media (min-width: 768px) {


    .form_container{
        grid-template-areas: 
            "image form";
        background-color: var(--accent-color );
        min-height: 87.7dvh;
        min-height: 87.7vh;
        overflow: hidden;
    }

    .form_container, .inputs_container{
        justify-content: center;
    }

    .inputs_container, .form_image{
        min-height: 80dvh;
        min-height: 80vh;
    }

    .form_container{
        flex-direction: row;
        align-items: center;
        padding: 2em;
    }   

    .inputs_container{     
        padding: 1em;
        border-radius: 0 10pt 10pt 0;
        height: unset;
        border-bottom: 5px solid black;
        border-top: 5px solid black;
        border-right: 5px solid black;
    }

    .form_image{
        height: unset;
        max-height: 90vh;
        border-radius: 10pt 0 0 10pt;
        border-left:5px solid black ;
        border-bottom: 5px solid black;
        border-top: 5px solid black;
  
    }

    .email {
        margin-top: 3em;
        margin-bottom: 3em;
    }
}

@media (min-width: 1300px) {

      .form_container{
        font-size: 1.1rem;
    }

    .inputs_container{
        padding-inline: 7em;
        max-height: 70vh;
    }

}

@media (min-height: 1000px) {
    .form_container { background-color: red;}
}