/* group  */

.form_styles,
.input_style,
.text_container,
.text,
.text::after,
.frame_container{
    width: 100%;
}

.text,
.text_container, 
.frame_larger,
.frame_container{
    position: relative;
}

.text,
.text_container,
.register{
    text-align: center;
}

.frame_mobile, .text::after{
    position: absolute;
}


/* typography */

.text{
    font-size: 2rem;
    text-align: center;
    margin-inline: auto;
}

.text::after {
    content: "";
    height: 15px;
    bottom: -2px;
    left: 1px;
    border-top-left-radius: 20pt;
    border-bottom-right-radius: 20pt;
    background-color:var(--accent-color);
    z-index: -1;
}

.error_message{
    margin-top: 0em;
    margin-left: 0.2em;
    padding: 0.2em;
    background-color: var(--error-color);
}

/* layout */

.main, .form_styles{
    display: grid;
}

.main{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "image image"
    "form form";
    min-height: 80dvh;
    min-height: 80vh;
} 

.form_styles{
    grid-template-columns: 1.5em repeat(4, 1fr) 1.5em;
    grid-template-areas: 
    ". text text text text ."
    ". email email email email."
    ". password password password password ."
    ". google google apple apple ."
    ". button button button button ."
    ". register register register register .";
    justify-content: center;
    grid-area: form;
    z-index: 1;
    background-color: var(--primary-color);
    padding-bottom: 1em;
}

.input_style{
    margin-top: 0.5em;
    padding: 1em;
}

.text_container { 
    grid-area: text;
    margin-top: 2em;
    margin-bottom: 3em;
    margin-inline: auto;
}

.email, .password{
    margin-bottom: 3em;
}

.email { 
    grid-area: email;
 }

.password { 
    position: relative;
    grid-area: password; 
 }

.google { grid-area: google; }
.apple { grid-area: apple; justify-self: end;}
.submit { 
    font-size: 1rem;
    grid-area: button; 
    padding: 0.8em;
    margin-bottom: 1em;
    background-color:var(--accent-color);
}
.register{
    grid-area: register;
}

.register_link{
    font-weight: bold;
    letter-spacing: 1px;
}
    

.error_container {
    display: flex;
}

.frame_container {
    grid-area: image;
    height: 43.8vh;
    border: 5px solid black;
    background-color: var(--accent-color);
}

.frame_mobile {
    width: 88.6%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.frame_larger{
    display: none;
}

@media (min-width: 768px) {
    .main{
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        "image image image form form form";
        height: 87.9vh;
        padding: 2em;
        background-color: var(--secondary-color);    
    }
    
    .frame_container, .form_styles{
        height: 100%;
        border-bottom: 5px solid black;
        border-top: 5px solid black;
    }
    
    .frame_container{
        border: 5px solid black ;
        border-right: none;
        border-radius: 10pt 0pt 0pt 10pt;   
    }
    
    .form_styles{
        border-radius:  0pt 10pt 10pt 0pt;
        border-right: solid black 5px;
    }
    
    .frame_mobile{
        display: none;
    }
    
    .frame_larger{
        display: block;
        position: absolute;
        top:100px;
        right: 0;
    }
    
    .submit{
        display: inline;
        grid-column: 2/6;
        align-self: center;
        text-align: center;
    }
    
    .input_style {
        padding: 1.3em;
    }

    .text{
        font-weight: 900;
   }
 
   .password{
        margin-bottom: 2em;
   }
}
@media (min-width:1200px) {
    .frame_larger{
        width: 450px;
        height: auto;
        object-fit: cover;
    }

    .submit{
        grid-column: 3/5;

    }

    .form_styles{
        grid-template-columns: 3em repeat(4, 1fr) 3em;
    }

}

@media (min-width:1397px) {
    .text{
        margin-bottom: 0;
    }

    .email{
        margin-top: 0;
    }
    
}


@media (max-height: 760px) {
    .frame_larger{
        top: 50px;
    }
}


.eye_open{
    position: absolute;
    font-size: 1.1rem;
    top: 50px;
    right: 7px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

