.header{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    padding-block: 1em;
}

.logo{ 
    animation: logo_rotate 40s infinite ease;
    transform:  rotate(0deg);
}

@keyframes logo_rotate {
    from{transform: rotate(0deg);}
    to{transform:  rotate(360deg);}
}

.logoContainer{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

