.benefit{
    margin-top: 2em;
    padding: 0.5em;
    display: grid;
    margin-bottom: 11em;
    position: relative;
}

.benefit_image{
    width: 120px;
    object-fit: cover;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    z-index: 2;

}

.benefit_title{
    margin-bottom: 0 ;
    position: relative;
    align-self: center;
    margin-inline: auto;
}

.benefit_title::after{ 
    content: "";
    display: block;
    width: 50px;
    height: 6px;
    background-color: var(--primary-color);
    opacity: 0.4;
    transition: animation 250ms ease;
    float: left bottom;
}


@media (min-width: 768px) {
    .benefit {
        grid-template-columns: minmax(150px, 200px) 1fr;
        grid-template-areas: 
            "b_image b_card";
        margin-right: 3em;
        border-radius: 10pt;
        margin-top: 6em;
    }

    .benefit_image{
        grid-area: b_image;
        margin-left: 9.2em;
        width: 130px;
        margin-top: -0.6em;
    }

    .benefit_title{
        margin-left: 4em;
    }

    .benefit_text{
        margin-left: 4em;
    }
}

@media (min-width: 1200px) {
    .benefit {
        font-size: 1.2rem;
        margin-bottom: 20em;
    }

    .benefit_image{
        margin-left: 7em;
    }

    .benefit_title::after{ 
        transform: translateX(600px);
    }
    
}