/* groups */

.benefit, .benefit_title {
    position: relative;
}

.benefit_title::after, .benefit_image{
    display: block;
}

/* typography */

.benefit_title{
    align-self: center;
    margin-bottom: 0 ;
    margin-inline: auto;
}

.benefit_title::after{ 
    content: "";
    width: 50px;
    height: 6px;
    background-color: var(--primary-color);
    transition: animation 250ms ease;
    float: left bottom;
    opacity: 0.4;
}

/* layout */

.benefit{
    display: grid;
    margin-top: 2em;
    margin-bottom: 11em;
    padding: 0.5em;
}

.benefit_image{
    width: 120px;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;

}

@media (min-width: 768px) {
    .benefit {
        grid-template-columns: minmax(150px, 200px) 1fr;
        grid-template-areas: 
            "b_image b_card";
        margin-right: 3em;
        margin-top: 6em;
        border-radius: 10pt;
    }

    .benefit_image{
        grid-area: b_image;
        width: 130px;
        margin-left: 9.2em;
        margin-top: -0.6em;
    }

    .benefit_title, .benefit_text{
        margin-left: 4em;
    }

}

@media (min-width: 1200px) {
    .benefit {
        font-size: 1.2rem;
        margin-bottom: 20em;
    }

    .benefit_image{
        margin-left: 7em;
    }

    .benefit_title::after{ 
        transform: translateX(200px);
    }
    
}