/* groups */

.benefit_title, .bottom_part_benefit{
    position: relative;
}


/* typography */

.benefit_title{
    align-self: center;
    margin-bottom: 0 ;
    margin-inline: auto;
}

.benefit_title::after{ 
    content: "";
    display: block;
    width: 50px;
    height: 6px;
    background-color: var(--primary-color);
    transition: animation 250ms ease;
    float: left bottom;
    opacity: 0.4;

}

/* layout */

.bottom_part_benefit{
    text-align: center;
    margin-top: -3em;
    padding: 3em 2em;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10pt 10pt 10pt 10pt;
    background-color: white;
}


@media (min-width: 768px) {
    .benefit_title{
        margin-left: 4em;
    }

    .benefit_title::after{
        transform: translateX(-600px);
    }

    .benefit_text{
        margin-left: 4em;
    }

    .bottom_part_benefit { 
        grid-area: b_card;
        border-collapse: separate; 

    }

}

@media (min-width: 1200px) {
    .benefit_title::after{ 
        transform: translateX(600px);
    }
    
}