/* groups */

.top_3,
.all_options_wrapper,
.placement_container{  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

/* typography */

.placement{
    margin-bottom: 0;
}

.placement:first-of-type{
    font-size: 2rem;
    font-weight: 700;
}

.placement:nth-of-type(2){
    font-size: 2rem;
    font-weight: 700;    
}

.all_options_title{
    margin-block: 3em;
}

/* layout */

.main{
    padding: 0.5em;
}

.top_3{
    margin-top: 0;
}

.char{
    width: 100%;
    margin-top: 5em;
    margin-bottom: 3em;
}



@media (min-width: 976px) {
    .main{
        padding: 2em;
    }

    .all_options_wrapper, .top_3{
        flex-flow: row wrap;
        justify-content: center;
        gap:7em
    }
 
    .all_options_wrapper{
        justify-content: space-evenly;
        gap: 3em;
    }

    .placement_container:nth-of-type(2){
        margin-top: 3em;
    }

}

@media (min-width:1489px) {
    .char{  
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .placement_container:nth-of-type(1){
        order: 1;
        margin-bottom: 15em;
    }
    
    .placement_container:nth-of-type(3){
        margin-top: 4em;
        order: 3;
    }
    
    .top_3{
        margin-top: 4em;
    } 
    
}

