:root{
    --primary-color: #02BEFE;
    --primary-color-light:#65E4FB;
    --primary-color-dark: #023468;
    --secondary-color:  #45DFC9;
    --secondary-color-light: #A4F7C2;
    --accent-color: #FFD776 ;
    --accent-color-light: #FEEBA8;
    --accent-color-dark: #FF9D1B;
    --background-color: #F8F9FA;
    --text-color: #343A40;
    --error-color: #FFB3B3;
}

*{ box-sizing: border-box; }

p{
    line-height: 1.5;
    color: var(--text-color);
}

body{
   background-color: var(--background-color);
   color: var(--text-color);
   font-size: 1rem;
   margin: 0;
   padding:0;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0
}

a{
    text-decoration: none;
    color: inherit;
    transition: opacity 250ms ease;
}

button, input, textarea, select, option {
    font-family: inherit;
    border-radius: 5pt;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

select{
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

button{
    font-size: 1rem;
    border: none;
    background-color: none;
    transition: opacity 250ms ease;
}

button:hover , button:focus {
    opacity: 0.8;
}

label{
    letter-spacing: 1px;
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.3em;
    color: var(--text-color);
}

.hidden{
    display: none;
}

.admin_inputs,
.admin_inputs:focus {
    padding: 1em 2em;
    border: 4px solid black;
    background-color: var(--secondary-color);
}

.input_error, .input_error:focus {    
    border: 4px solid var(--error-color);
    outline: none;
}


.title, .title_2{
    text-align: center;
}

.title{
    font-size: 3rem;
}

.title_2{
    font-size: 2rem;
}

.input_description{
    resize: none;
    width: 320px;
    height: 150px;   
}

h2{
    margin-top: 0;
}

.mt-0{
    margin-top: 0
}

.mb-0{
    margin-bottom: 0;
}

.ds-f{
    display: flex;
    justify-content: space-between;
}

.tx-c{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.ta-c{
    text-align: center;
}

.d-i{
    display: initial;
}

.pc{
    color: var(--accent-color-dark);
}