:root{
    --background-color: #F8F9FA;
    --text-color: #343A40;
    --primary-color: #007BFF;
    --secondary-color:  #28A745;
    --accent-color: #FFC107
}

*{
    box-sizing: border-box;
}

body{
   background-color: var(--background-color);
   color: var(--text-color);
   font-size: 1rem;
   margin: 0;
   padding:0;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0
}

a{
    text-decoration: none;
    color: inherit;
}

button, input {
    font-family: inherit;
    border-radius: 4pt;
    cursor: pointer;
}

button{
    border: none;
    background-color: none;
}

