.main{
    display: grid;
    min-height: 80dvh;
    min-height: 80vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "image image"
        "form form";
}

.form_styles{
    display: grid;
    width: 100%;
    grid-template-columns: 1.5em repeat(4, 1fr) 1.5em;
    background-color: var(--primary-color);
    padding-bottom: 1em;
    justify-content: center;
      grid-template-areas: 
        ". text text text text ."
        ". email email email email."
        ". password password password password ."
        ". google google apple apple ."
        ". button button button button ."
        ". register register register register .";
    z-index: 1;
    grid-area: form;
    }

.input_style{
    margin-top: 0.5em;
    width: 100%;
    padding: 1em;
}

.text_container { 
    grid-area: text;
    margin-top: 2em;
    margin-bottom: 3em;
    width: 100%;
    margin-inline: auto;
    text-align: center;
    position: relative;
}

.text{
    position: relative;
    width: 100%;
    text-align: center;
    margin-inline: auto;
    font-size: 2rem;
}

.text::after {
    position: absolute;
    content: "";
    background-color:var(--accent-color);
    height: 15px;
    width: 100%;
    bottom: -2px;
    left: 1px;
    border-top-left-radius: 20pt;
    border-bottom-right-radius: 20pt;
    z-index: -1;
}

.email { 
    grid-area: email;
    margin-bottom: 3em;
 }

.password { 
    grid-area: password; 
    margin-bottom: 3em;
 }

.google { grid-area: google; }
.apple { grid-area: apple; justify-self: end;}
.submit { 
    font-size: 1rem;
    grid-area: button; 
    background-color:var(--accent-color);
    padding: 0.8em;
    margin-bottom: 1em;
}
.register{
    grid-area: register;
    text-align: center;
}

.register_link{
    color: var(--text-color);
    font-weight: bold;
    letter-spacing: 1px;
}

 .input_error {
    border: 3.5px solid #FFB3B3;
} 

.error_message{
    background-color: #FFB3B3;
    margin-top: 0em;
    margin-left: 0.2em;
    padding: 0.2em;
    font-size: 1rem;
    color: var(--text-color);
}

.error_container {
    display: flex;
}

.frame_container {
    position: relative; 
    width: 100%; 
    grid-area: image;
    background-color: var(--accent-color);
    height: 43.8vh;
    border: 5px solid black;
}

.frame_mobile {
    position: absolute;
    width: 88.6%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.frame_larger{
    display: none;
    position: relative;
}

@media (min-width: 768px) {
    .main{
        height: 87.9vh;
        padding: 2em;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        "image image image form form form";
        background-color: var(--secondary-color);    
    }
    
    .frame_container, .form_styles{
        border-bottom: 5px solid black;
        border-top: 5px solid black;
        height: 100%;
    }
    
    .frame_container{
        border: none;
        border-left:5px solid black ;
        border-bottom: 5px solid black;
        border-top: 5px solid black;
        border-radius: 10pt 0pt 0pt 10pt;   
    }
    
    .form_styles{
        border-radius:  0pt 10pt 10pt 0pt;
        border-right: solid black 5px;
    }
    
    .frame_mobile{
        display: none;
    }
    
    .frame_larger{
        position: absolute;
        top:100px;
        right: 0;
        display: block;
    }
    
    .submit{
        display: inline;
        grid-column: 2/6;
        align-self: center;
        text-align: center;
    }
    
    .input_style {
        padding: 1.3em;
    }

    .text{
        font-weight: 900;
   }
 
   .password{
    margin-bottom: 2em;
   }
}
@media (min-width:1200px) {
    .frame_larger{
        width: 450px;
        height: auto;
        object-fit: cover;
    }

    .submit{
        grid-column: 3/5;

    }

    .form_styles{
        grid-template-columns: 3em repeat(4, 1fr) 3em;
    }

}

@media (min-width:1397px) {
    .text{
        margin-bottom: 0;
    }

    .email{
        margin-top: 0;
    }
    
}


@media (max-height: 760px) {
    .frame_larger{
        top: 50px;
    }
}