/* groups */

.input, .input_description , .poll_image{
    width: 100%;
}

.input, .input_description{
    max-width: 500px;
}

.info, .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_grid, .main{
    display: flex;
    flex-direction: column;
}


/* typography */

.name_poll { 
    grid-area: title;
}



/* layout */

.main{
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin: 0 auto;
}

.polls{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    justify-content: space-evenly;
    margin-bottom: 2em;
    padding-inline: 2em;
    gap: 5em;
}

.poll{
    margin-top: 3em;
    transition: transform 250ms ease, box-shadow 250ms ease, border-radius 250ms ease;
}

.poll:hover{
    transform: translateY(-10px);
    box-shadow: -13px 13px 0px rgba(0,0,0, 0.8);
    border-radius: 0pt 0pt 10pt 10pt;
}

.poll_image{
    display: block;
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    margin-bottom: 0;
    object-fit: cover;
    border-radius: 10pt 10pt 0pt 0pt;
}

.bottom_part{
   padding: 1em;
   margin-top: 0;
   border: 5px solid var(--secondary-color);
   border-top: none;
   border-radius: 0pt 0pt 10pt 10pt;

}

.form_grid{
    gap: 1.5em;
}

@media (min-width: 768px) {
    .main{
        display: initial;
    }
    
    .form_grid{
        display: grid;     
        grid-template-columns: repeat(2, minmax(200px, 500px));
        padding: 2em;
        grid-template-areas: 
        "title category_id"
        "starts ends"
        "description image"    
        "button ."; 
    }
    
    .category_id { grid-area: category_id;}
    .starts_at { grid-area: starts; }
    .ends_at { grid-area: ends; }
    .desc_poll { grid-area: description; }
}

