.polls{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em
}


.poll{
    padding: 1em;
    border-radius: 7pt;
}

.poll_image{
    display: block;
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    object-fit: cover;
    margin-bottom: 0;
}

.bottom_part{
   border-bottom: 3px solid black;
   border-left: 3px solid black;
   border-right: 3px solid black;
   margin-top: 0;
   padding: 1em;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}