.page_title{
    text-align: center;
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    justify-content: space-evenly;
    grid-gap: 4em;
    padding: 2em;
    overflow: hidden;
}


._poll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2em;
    border: 4px solid black;
    border-radius: 15pt;

}

.poll_button{
    justify-self: end;
    width: 100%;
    padding: 1em 2.5em;
}
