.container {
    position: relative;
    display: inline-block;
  }
  
  .icon {
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 2;
  }
  
  .bubble {
    position: absolute;
    bottom: 100%; 
    right: 1000%; 
    transform: translateX(80%); 
    background: white;
    border-radius: 4px;
    padding: 1em;
    max-width: 300px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    text-align: left;
    visibility: hidden;
    word-wrap: break-word;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    z-index: 1;
    line-height: 1.5;
}
  
  .bubble.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  

  