.edit_button, .delete_button{
    display: flex;
    align-items: center;
    gap: .2em;
    padding-inline:  1.2em;
    border-radius: 5pt;
}

.delete_button{
    padding-inline: 2em;
}

.edit_button{
    transition: background-color 250ms ease ;
    background-color: var(--accent-color-light);
}

.delete_button{
    transition: opacity 250ms ease;
    font-size: 1rem;
    background-color: var(--error-color);   
}

.edit_button:hover{
    padding-inline:  1.2em ;
    background-color: var(--accent-color);
}

.delete_button:hover {
    opacity: 0.8;
}

.vote_button{
    padding: 1em 4em;
    background-color: var(--accent-color-light);
    margin-inline: auto;
    margin-bottom: 3em;
    border-radius: 5pt;
    font-size: 1.3remnene;
}
