.logo_container{
    display: flex;
    align-items: center;  
}

.logo{ 
    animation: logo_rotate 40s infinite ease;
    transform:  rotate(0deg);
}

.logo_text{
    line-height: none;
    width: 30px;
    margin-right: 1.4em;
}

.logo_text_detail{
    color: var(--primary-color);
}

@keyframes logo_rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    
}