.dropdown_form{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 250px));
    grid-template-areas: 
        "select_c select_s ."
        "button button .";
    gap: 3em;
    align-items: center;
    padding: 2em;
}

.select{
    padding: 0.6em 1em;
    border: 4px solid black;
    background-color: var(--primary-color);
    grid-area: select_s;
}


.select_b{
    padding-inline:  1.5em;
    grid-area: select_b;
}

.categories, .status{
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.button{
    margin-top: 1.7em;
    background-color: var(--accent-color);
    padding: 0.7em 2em;
    grid-area: button;
    justify-self: center;
}

@media (min-width: 720px) {
    .dropdown_form{
        grid-template-areas: 
            "select_s select_b button";
    }

    .button{
        justify-self: start;
    }
}